<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>
    <div class="login-container">
        <h1>Login/Register</h1>
        <form action="/login" method="post">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required autocomplete="off" autofocus>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required autocomplete="off" autofocus>
            </div>
            <button type="submit">Login</button>
        </form>
        <% if(locals.error) {%>
            <p class="para"><%= error %></p>
        <% } %>
        <div class="newAccount">
            <h4 id="question">Doesn't have an account?</h4>
            <a class="reg-link" href="./register" >Register</a>
        </div>
    </div>
</body>
</html>